*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}
h1,p{
    margin: 0px;
    padding: 0px;
}


.background-image{
    border: 2px solid blueviolet;
    background-image: url("images/bg-header-desktop.png");
    display: grid;
    place-items: center;
}

header{
    border: 2px solid blue;
}

.logo{
    border: 2px solid yellow;
    margin-top: 20%;
}

.site-description{
    text-align: center;
}

.download-buttons{
    display: flex;
    flex-direction: column;
}