*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: "Bai Jamjuree", sans-serif;
}
h1, h2, p{
    margin: 0px;
    padding: 0px;
}


.background-image{
    background-image: url("images/bg-header-mobile.png");
    display: grid;
    place-items: center;
    margin-bottom: 48px;
}


.logo{
    margin-top: 20%;
}

.site-description{
    text-align: center;
    display: grid;
    place-items: center;
}

.header-text{
    margin-left: 36px;
    margin-right: 36px;
    padding-bottom: 12px;
}

.subHeader-text{
    margin-left: 18px;
    margin-right: 18px;
    opacity: 0.5;
    margin-bottom: 25px;
}

.download-buttons{
    display: flex;
    flex-direction: column;
}

button{
    margin: 6px;
}

.first-feature{
    text-align: center;
}

.computer-logo{
    width: 100%;
}

#comp-logo-img{
    width: 85%;
    margin-left: 7.5%;
}

.stack-of-next-three-features{
    text-align: center;
}

#tab-n-phone-img{
    width: 85%;
    margin-left: 7.5%;
}

.another-feature{
    text-align: center;
}

.additional-information{
    text-align: center;
}

.company-logos{
    display: grid;
    place-items: center;
}

.download-info{
    text-align: center;
}

.footer{
    background-color: rgb(245, 246, 248);
    display: grid;
    place-items: center;
    text-align: center;
}

.site-logo-footer{
    width: 75px;
    height: 75px;
}


@media (min-width:520px){
    .background-image{
        background-image:url("images/bg-header-desktop.png");
        opacity: 0.7;
    }

    .logo{
        margin-top: 8%;
    }
    .site-logo-header{
        width: 75px;
        height: 75px;
    }
    .header-text{
        margin-left: 48px;
        margin-right: 48px;
    }
    .subHeader-text{
        max-width: 520px;
        margin-left: 76px;
        margin-right: 76px;
    }
    .download-buttons{
        flex-direction: row;
        justify-content: center;
    }
    
}