*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}
h1, h2, p{
    margin: 0px;
    padding: 0px;
}


.background-image{
    border: 2px solid blueviolet;
    background-image: url("images/bg-header-desktop.png");
    display: grid;
    place-items: center;
}

header{
    border: 2px solid blue;
}

.logo{
    border: 2px solid yellow;
    margin-top: 20%;
}

.site-description{
    text-align: center;
}

.header-text{
    display: flex;
    flex-direction: column;
}

.subHeader-text{
    display: flex;
    flex-direction: column;
}

.download-buttons{
    display: flex;
    flex-direction: column;
}

.first-feature{
    text-align: center;
}

.computer-logo{
    border: 2px solid pink;
    width: 100%;
}

#comp-logo-img{
    width: 85%;
    margin-left: 7.5%;
}

.stack-of-next-three-features{
    text-align: center;
}

#tab-n-phone-img{
    width: 85%;
    margin-left: 7.5%;
}

.another-feature{
    text-align: center;
}

.additional-information{
    text-align: center;
}

.company-logos{
    display: grid;
    place-items: center;
}

.download-info{
    text-align: center;
}

.footer{
    background-color: rgb(245, 246, 248);
    display: grid;
    place-items: center;
    text-align: center;
}

.site-logo-footer{
    width: 75px;
    height: 75px;
}